* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    margin: 10px 0 10px 0;
}

button {
    border: none;
    border-radius: 4px;
    color: white;
    width: 77px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    font-weight: 400;
}

.header__text {
    font-size: 17.4px;
}

.header__text span {
    font-size: 0.5em;
}

h3:first-of-type {
    font-size: 8.22px;
    color: #908B87;
}
h3:last-of-type {
    font-size: 9.35px;
    margin-top: 1.3em;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    background-image: url("../images/nycforheader.jpeg");
    background-size: cover;
    background-position-y: 40%;
    font-family: 'Roboto', sans-serif;
    color: white;
    flex-direction: column;
    height: 88px;
    min-height: 12.6vh;
}

.headertext__grouped {
    margin-left: 2em;
}

.navbar__menu {
    display: block;
    border-top: solid #908B87 1.15px;
    border-bottom: solid #908B87 1.15px;
    /* height: 22px;  */
}
#navbar__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 10%;
    height: 22px;
    width: 50%;
}

#navbar__list li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 6.02px;
}

#navbar__list li a {
    text-decoration: none;
    color: #000000;
}

#navbar__list li a:hover {
    text-decoration: underline red;
    text-underline-offset: 93%;
}

.landing__container {
    display: flex;
    flex-direction: column;
    box-shadow: #000000;
}

.landing__container h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 13.62px;
}

.landing__container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 9px;
}

.your-active-class, .section3 {
    margin: 14px 0 14px 14px;
}

.section2, .section4 {
    margin: 14px 14px 14px 0;
}

.section2, .section4 {
    text-align: right;
}

#s2_button, #s4_button {
    text-align: right;
}

#s2_button button {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/time-square.jpeg');
    background-size: cover;
    background-position: center;
}

#section3 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/nyc-hotel.jpeg');
    background-size: cover;
    background-position: center;
}

#s4_button button {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/statue-liberty.jpeg');
    background-size: cover;
    background-position-y: 21%;
}

footer {
    height: 45px;
    background-color: #908B87;
}