* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

section {
    position: relative;
    min-height: 100vh;
    scroll-margin-top: 3.5rem;
}

p {
    margin: 10px 0 10px 0;
}

button {
    border: none;
    border-radius: 6px;
    background-color: rgb(40, 40, 40);
    color: white;
    width: 140px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
    
    button:hover {
        border-width: 3px;
        border-style: double;
        border-color: #e1a789;
    } 

button a {
    text-decoration: none;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    background-image: url("../images/nycforheader.jpeg");
    background-size: cover;
    background-position-y: 40%;
    background-color: rgba(119, 119, 119, 0.514);
    background-blend-mode: multiply;
    font-weight: 700;
    color: white;
    flex-direction: column;
    min-height: 217.5px;
}

.header__text {
    font-size: 30px;
}

.header__text span {
    font-size: 0.5em;
    font-weight: 600;
    color: #D3D7DC;
}

h3:first-of-type {
    font-size: 10px;
    font-weight: 600;
    color: #D3D7DC;
}
h3:last-of-type {
    font-size: 14px;
    font-weight: 600;
    margin-top: 1.3em;
}

.headertext__grouped {
    margin-left: 1em;
}

.navbar__menu {
    display: flex;
    border-top: solid #D3D7DC 2px;
    border-bottom: solid #D3D7DC 2px;
    height: 60px;
}

#navbar__list {
    display: flex;
    align-items: center;
    margin-left: -19px;
}

#navbar__list li {
    list-style: none;
    margin-left: 2.5em;
    font-size: 14px;
    font-weight: 500;
}

#navbar__list li a {
    text-decoration: none;
    color: #000000;
}

.main__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(4, 1fr);
    grid-template-areas: 
    "sec1"
    "sec2"
    "sec3"
    "sec4";
}

.photo__grid {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-gap: 10px;
    grid-template-areas:
    "p1 p2 p3";
    height: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photo__grid #p1 {
    grid-area: p1;
    border: solid #d3d7dcbb 1px;
    background-image: url('../images/time-square.jpeg');
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.photo__grid #p2 {
    grid-area: p2;
    border: solid #d3d7dcbb 1px;
    background-image: url('../images/nyc-hotel.jpeg');
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.photo__grid #p3 {
    display: flex;
    grid-area: p3;
    font-size: 14px;
    border: solid #d3d7dcbb 1px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/statue-liberty.jpeg');
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#p3 div {
    height: fit-content;
}

#p3 div span {
    font-size: 0.7em;
}

.landing__container {
    display: flex;
    flex-direction: column;
    box-shadow: #000000;
}

.landing__container h2 {
    font-size: 23.5px;
}

.landing__container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

#section1 {
    grid-area: sec1;
}

#section2 {
    grid-area: sec2;
}

#section3 {
    grid-area: sec3;
}

#section4 {
    grid-area: sec4;
}

#section1, 
#section3 {
    padding: 34px 0 34px 1em;
    background: radial-gradient(100% 100% at 50% 0%, rgba(233, 211, 160, 0.65) 28.12%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 25%);
}

#section2, 
#section4 {
    padding: 34px 1em 34px 0;
    background: radial-gradient(100% 100% at 50% 0%, rgba(212, 168, 138, 0.65) 28.12%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 25%);
}

#section2, 
#section4 {
    text-align: right;
}

#s2_button, 
#s4_button {
    text-align: right;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 108.7px;
    margin-top: auto;
    background-color: rgb(40, 40, 40);
}

footer a {
    text-decoration: none;
    color: white;
}

    footer a:hover {
        color: #ffffffcc;
    }

.social__icons__container {
    display: flex;
    padding-bottom: 1px;
}

.social__icons {
    margin-inline: 15px;
    font-size: 1.5em;
}   

.footer__list {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 1px;
}

.footer__list li {
    list-style: none;
    margin-inline: 15px;
}

.fixed-nav nav {
    background-color: rgb(40, 40, 40);
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    transition: all 200ms ease-in-out;
    border: none;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1)
}

.sticky__a {
    color: #ffffff !important;
} 

#navbar__list li a.active {
    text-decoration: underline #e1a789 3px;
    text-underline-offset: 125%;
    font-weight: bolder;
    transition: 0.3 ease text-decoration;
}

.inactive {
    opacity: 0;
}



/* tablet design */
@media screen and (min-width: 640px) {

.header__wrapper {
    min-height: 300px;
    background-color: transparent;
}

.header__text {
    font-size: 38px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.header__text span {
    color: #908B87;
    text-shadow: none;
}

h3:first-of-type {
    font-size: 13px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}
h3:last-of-type {
    font-size: 18.35px;
}

#navbar__list li {
    margin-inline: 2.8em;
}

.footer__list li {
    margin-inline: 18px;
}

.landing__container h2 {
    font-size: 23.5px;
}}



/* desktop design */
@media screen and (min-width: 1024px) {

.header__text {
    font-size: 45.5px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.header__text span {
    color: #908B87;
    text-shadow: none;
}

h3:first-of-type {
    font-size: 17px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}
h3:last-of-type {
    font-size: 23.35px;
}

.landing__container {
    max-width: 70em;
}

.landing__container h2 {
    font-size: 28px;
}

#section2, #section4 {
    display: flex;
}

#section2 .landing__container, 
#section4 .landing__container{
    margin-left: auto;
}

.footer__list li {
    margin-inline: 22px;
}}